body {
    margin: 0;
}

@font-face {
    font-family: 'roundor';
    src: url('res/roundor.otf') format('opentype');
}

@font-face {
    font-family: 'nunito';
    src: url('res/nunito.ttf') format('truetype');
}

@font-face {
    font-family: 'space_mono';
    src: url('res/space_mono.ttf') format('truetype');
}

@font-face {
    font-family: 'space_mono_bold';
    src: url('res/space_mono_bold.ttf') format('truetype');
}
