body {
    margin: 0;
}

@font-face {
    font-family: 'roundor';
    src: url('res/roundor.otf') format('opentype');
}

@font-face {
    font-family: 'nunito';
    src: url('res/nunito.ttf') format('truetype');
}
